#header{
    background-color: #ffffff;

    .header-img{
    background-image: url("../img/header.jpg");
    background-size: cover;
    padding-top:40%;
    background-repeat: no-repeat;
    }

    a:visited, a:link, a:hover, a:active{
    color: #000000;
    text-decoration: none;}

    h1{
        font-size:7em;
        text-align: center;
        color: beige;
        font-family:'Arima Madurai', cursive;
        font-weight:400; }

    h2{
    text-align:center;
    font-size: 3em;}

    .header__nav{
    background-color:white;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;

     ul{
          padding:1.5em;
          list-style-type:none; 
          font-size:0; }
      li{
          display:inline-block;
           padding:1.5rem;
          font-size:2rem;}
     }

     @media screen and (max-width: 768px)  {
            .header-img{
                 padding-top:50%;
                background-image: url("../img/header-mobile.jpg");
                background-size: contain;
                }

        h1{
            font-size: 4em;
            color:rgba(104, 28, 175, 0.753)}

        h2{
            font-size:2.5em;}

         h1, h2 {
        padding-top: 2rem;}

        .header__nav li{
            font-size: 1.2rem;}
    }
}